<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{movie.name}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/starter-template.css" rel="stylesheet">

</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="/">Home</a>
            </div>
        </div>
    </div>


    <div class="container starter-template">
        <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                <img src="{{movie.poster_url}}">
            </div>
            <div class="col-lg-7 col-md-8 col-sm-6 col-xs-12 text">
                <h1 style="margin-top: 0 !important">
                    <i><b>{{movie.name}}</b></i>
                </h1>
                <p class="lead">{{movie.plot}}</p>
                <br>

                <div class="videowrapper">
                    <iframe src="{{movie.trailer_url}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; Made by Mayank Jain using Bootstrap</p>
        </footer>`
        <!-- /.container -->



</body>

</html>
