<html>
  <head>
    <title>Submit Movie</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/form_style.css">

  </head>

  <body>
    <div id="banner">
      <h2> Fresh tomatoes! </h2>
    </div>
    <form action="" method="post" class="basic-grey">
    <h1>Movie Submission
        <span>Please fill all the texts in the fields.</span>
    </h1>
    <label>
        <span>Movie Name :</span>
        <input id="name" type="text" name="movie" placeholder="Movie Title" />
    </label>
    
    <label>
        <span>Movie Poster :</span>
        <input id="email" type="text" name="poster" placeholder="Valid Email Address" />
    </label>
    
    <label>
        <span>Storyline :</span>
        <textarea id="message" name="message" placeholder="Movie's storyline (Copy from IMDB)"></textarea>
    </label> 
   
     <label>
        <span>&nbsp;</span> 
        <input type="submit" class="button" value="Submit" /> 
    </label>    
</form>
  </body>

</html>