<!DOCTYPE html>
<html lang="en">
  <head>
 


    <title>Fresh Tomatoes!</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/stylesheets/js/bootstrap.min.js"></script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="/">Home</a>
        </div>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2><b>Welcome to Fresh Tomatoes!<b></h2>
        <p>Do you want to watch a good movie but don't know where to start looking for one? Look no more! Fresh tomatoes is an ever-growing collection of good movies that are worth watching. Submit your favourite movies now! Click on the movie posters below for the movie's details and its trailer.  </p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/submit">Submit Movie! &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#movies" role="tab" data-toggle="tab">Movies</a></li>
        <li><a href="#my_movies" role="tab" data-toggle="tab">My Movies</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="movies">
        <div class="row">
          {% for movie in submitted_movies %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a href="/{{movie.key().id()}}" > <img src="{{movie.poster_url}}"> </a>
            </div>
          {% endfor %}
        </div>
        </div>
        <div class="tab-pane fade" id="my_movies">
        <div class="row">
          {% if my_movies %}
            {% for movie in my_movies %}
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="/{{movie.key().id()}}" > <img src="{{movie.poster_url}}"> </a>
              </div>
            {% endfor %}
          {% else %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h4> Nothing submitted yet. </h4>
            </div>
          {% endif %}          
        </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Made by Mayank Jain using Bootstrap</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
